.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {

}

.modal__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 36px;
}

.modal__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__button {
    padding: 8px 48px 8px 48px;
    border-radius: 6px;
}

.submit {
    background-color: #4587ED;
    color: white;
}

.cancel {
    background-color: #E4E5E8;
}

table {
    border-collapse: separate;
    border-spacing: 0 4px;
    text-align: center;
}


thead th {
    padding: 8px 12px;
    background-color: white;
}

td {
    padding: 15px 20px;
    background-color: white;
}

tr th:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr th:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

td:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

td:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}