@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

body {
    font-family: "Quicksand", sans-serif;
    display: flex;
    justify-content: center;
    padding: 0;
    color: #4d4d4d;
}

#title {
    text-align: center;
}

#users {
    border-collapse: collapse;
    border: 3px solid #ddd;
}

#users td,
#users th {
    padding: 12px;
}

#users tr:hover {
    background-color: whitesmoke;
}

#users th {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
}

.operation {
    text-align: center;
}

.del {
    outline: none;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: orangered;
    padding: 3px 10px;
    border: 1px solid orangered;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
}

.del:active {
    border: 1px solid blue;
}

.edit {
    outline: none;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: cornflowerblue;
    padding: 3px 10px;
    border: 1px solid cornflowerblue;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
}

.edit:active {
    border: 1px solid blue;
}
